{% extends 'base.html.twig' %} {% block body %}
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="row">

                <div class="card-header bg-danger col-12 mt-4">
                    <div class="card-title text-center font-weight-bold">{{ title }}</div>

                </div>
            </div>




        </div>
    </div>


</div>
</div>


<div class="modal fade text-left" id="large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title" id="myModalLabel17">Ajout d'un Professeur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
              </button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                <div class="row">
                    <div class="col">{{ form_row(form.nomComplet) }}</div>
                    <div class="col">{{ form_row(form.grade) }}</div>
                </div>
                <div>
                    <label for="">Classe</label> {{ form_widget(form.classes, {'attr':{'class':'form-control text-white'}}) }}
                </div>
                <div class="mt-2">
                    <label for="">Modules</label> {{ form_widget(form.modules, {'attr':{'class':'form-control text-white'}}) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-light-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>
{% endblock %}