{% extends 'base.html.twig' %} {% block body %}
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <section class="users-view">
                <!-- Media object starts -->
                <div class="row">
                    <div class="col-12 col-sm-7">
                        <div class="media d-flex align-items-center">
                            <a href="javascript:;">
                                <img src={{ asset( 'images/school.jpg')}} alt="user view avatar" class="users-avatar-shadow rounded" height="64" width="64">
                            </a>
                            <div class="media-body ml-3">
                                <h4>
                                    <span class="users-view-name">{{professeur.nomComplet| upper }}</span>
                                </h4>
                                <span>{{professeur.grade| upper }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 d-flex justify-content-end align-items-center">
                        <a href="javaScript:void(0);" class="btn btn-sm bg-danger mr-2 px-3 py-1 text-white">Supprimer</a>
                        <a href={{ path( 'edit_prof', {id:professeur.id} ) }} class="btn btn-sm btn-primary px-3 py-1">Edit</a>
                    </div>
                </div>



                <div class="col-12">
                    <!-- User detail starts -->
                    <div class="card card-outline-primary">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row bg-danger bg-lighten-4 rounded mb-3 mx-1 text-center text-lg-left">
                                    <div class="col-12 col-sm-4 p-3 d-flex align-itms-center">
                                        <h6 class="primary align-self-center mb-0 mx-1">Travaille ici depuis:</h6>
                                        <span class="font-large-1 primary">12/03/2022</span>
                                    </div>
                                    <div class="col-12 col-sm-4 p-3 d-flex align-itms-center">
                                        <h6 class="primary align-self-center mb-0 mx-1">Nbr Classe:</h6>
                                        <span class="font-large-1 primary">{{classes | length}}</span>
                                    </div>
                                    <div class="col-12 col-sm-4 p-3 d-flex align-itms-center">
                                        <h6 class="primary align-self-center mb-0 mx-1">Nbr Module:</h6>
                                        <span class="font-large-1 primary">{{classes | length}}</span>
                                    </div>
                                </div>

                                <div class="col-12">


                                    <h5 class="mb-2 text-bold-500"><i class="ft-link mr-2"></i>Modules</h5>
                                    <div class="table-responsive">
                                        {% for module in modules %}
                                        <span>{{module.libelleModule}}</span> {% endfor %}
                                    </div>

                                    <h5 class="mb-2 text-bold-500"><i class="ft-info mr-2"></i> Classe</h5>
                                    <div class="table-responsive">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- User detail ends -->
                </div>

            </section>
        </div>
    </div>


</div>
</div>


{% endblock %}