<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>

       <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href={{ asset('css/fonts/feather/style.min.css') }}>
      <link rel="stylesheet" href={{ asset('css/fonts/simple-line-icons/style.css') }}>
      <link rel="stylesheet" href={{ asset('css/fonts/font-awesome/css/font-awesome.min.css') }}>
      <link rel="stylesheet" href={{ asset('css/vendors/css/perfect-scrollbar.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/vendors/css/prism.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/vendors/css/switchery.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/vendors/css/fullcalendar.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/vendors/css/daygrid.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/vendors/css/timegrid.min.css') }}>


      <link rel="stylesheet" href={{ asset('css/bootstrap.css') }}>
      <link rel="stylesheet" href={{ asset('css/bootstrap-extended.css') }}>
      <link rel="stylesheet" href={{ asset('css/colors.css') }}>
      <link rel="stylesheet" href={{ asset('css/components.css') }}>
    <link rel="stylesheet" href={{ asset('css/themes/layout-dark.css') }}>
    <link rel="stylesheet" href={{ asset('css/plugins/switchery.css') }}>
    <link rel="stylesheet" href={{ asset('css/pages/app-calendar.css') }}>
    <link rel="stylesheet" href={{ asset('css/style.css') }}>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />
    {% block stylesheets %}
  
    {% endblock %}
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"
      defer></script>

    {% block javascripts %}

    {% endblock %}
  </head>
  {% include '_partials/_nav.html.twig' %}
  <body>
    {% block body %}

    {% endblock %}


  </body>

     <script src={{ asset('css/vendors/js/vendors.min.js')}}></script>
    <script src={{ asset('css/vendors/js/switchery.min.js')}}></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src={{ asset('css/vendors/js/moment.min.js')}}></script>
    <script src={{ asset('css/vendors/js/fullcalendar.min.js')}}></script>
    <script src={{ asset('css/vendors/js/daygrid.min.js')}}></script>
    <script src={{ asset('css/vendors/js/timegrid.min.js')}}></script>
    <script src={{ asset('css/vendors/js/interactions.min.js')}}></script>
    <script src={{ asset('css/vendors/js/jquery-ui.min.js')}}></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src={{ asset('js/core/app-menu.js')}}></script>
    <script src={{ asset('js/core/app.js')}}></script>
    <script src={{ asset('js/notification-sidebar.js')}}></script>
    <script src={{ asset('js/customizer.js')}}></script>
    <script src={{ asset('js/scroll-top.js')}}></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src={{ asset('js/app-calendar.js')}}></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN: Custom CSS-->
    <script src={{ asset('js/scripts.js')}}></script>
</html>
